@import '~bulma/bulma.sass'; 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

//*HOME PAGE

body{
	font-family: 'Quicksand', sans-serif;
}

.home-container{
	margin-top: -100px;
}

.home-buttons{
	display: flex;
	justify-content: center;
}

.home-button{
	margin: 0 40px;
}


//*COIN INDEX


.titles{
margin-top: 40px;
margin-bottom: 20px;
}

img {
  max-height: 35px;
  min-height: 35px;
}

h2{
	font-weight: bold;
}

img{
  max-width: 40px;
}

.mobile-title{
	display: none;
}

.negativeChange {
  color: red;
}
.positiveChange {
  color: green;
}

//*COIN SHOW

.coin-show-title{
	font-weight: bolder;
}


//*WHATS HOT

.tweets {
	display: flex;
	margin: 30px 50px;
}
.gainerslosers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
}
.whatsHotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gainersContainer,
 .losersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.losers, .gainers {
  padding: 5px 8px 5px 8px;
}
.losers {
  color: red;
}
.gainers {
  color: green;
}

@media only screen and (max-width: 700px) {
 
	.home-buttons{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 30px;
	}

	.home-button{
		margin: 20px;
	}

	.tweets{
		display: flex;
		flex-direction: column;
	}

.titles{
	display: none;
}

.column{ 
	text-align: center;
}

.mobile-title{
	display: inline-block;
}


}